body {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
}

@font-face {
  font-family: "Bayon";
  src: url("fonts/Bayon-Regular.woff") format("woff"),
    url("fonts/Bayon-Regular.woff2") format("woff2");
}

section h1 {
  margin-inline-start: 1.2em;
  font-size: 4em;
  color: #ffffff;
  font-family: "Bayon", sans-serif;
}

section h2 {
  margin-inline-start: 4em;
  margin-top: 10em;
  font-size: 2em;
  transform: rotate(-20deg);
  color: #ffffff;
  font-family: "Bayon", sans-serif;
}


h3 {
  color: #ff0000;
  font-family: "Bayon", sans-serif;
}

p {
  color: #ff0000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#me {
  width: 60em;
  position: absolute;
  top: -2.91em;
  right: 5em;
  z-index: 1;
}

#backsymbols {
  width: 60em;
  position: absolute;
  z-index: -1;
  top: -3em;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


#bright {
  position: fixed;
  z-index: -1;
  top: 6.9em;
  width: 94.9em;
}

#dark {
  margin-inline-start: 6em;
  position: fixed;
  z-index: 2;
  top: 8.91em;
  width: 94.9em;
}


nav {
  z-index: 3;
  position: relative;
  margin-top: 7.6em;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

nav figure {
  margin: 0;
  padding: 0;
  width: 50%;
  display: inline-block;
  position: relative;
}

#learn,
#aboutme {
  display: block;
  width: 100%;
  filter: brightness(0.5); /* Initial darkening effect */
  transition: filter 0.2s ease; /* Smooth transition for hover effect */
}

.lo, .about {
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff0000;
  font-family: "Bayon", sans-serif;
  font-size: 4em;
  display: inline-block;
  filter: brightness(0.5); 
}

.lo:hover,
.about:hover {
  filter: brightness(1);
}

#learn:hover, #aboutme:hover {
  filter: brightness(1);
}



@media only screen and (max-width: 600px) {  
  #me{
    width: 20em;
    left: 4em;
    top: 2em;
    }
    #dark{
      display: none;
    }
    #bright{
      display: none;
    }
    #backsymbols{
      width: 25em;
    }
    section h1 {
      font-size: 2em;
    }
    section h2{
      margin-inline-start: 2em;
      margin-top: 0.7em;
      font-size: 1.5em;
      transform: rotate(0deg);
    }
    .lo, .about {
      font-size: 1.7em;
    }
  }

@media only screen and (min-width: 601px) and (max-width: 768px) {  
  #me{
  width: 21em;
  left: 16em;
  top: 2em;
  }
  #dark{
    display: none;
  }
  #bright{
    display: none;
  }
  #backsymbols{
    width: 25em;
    left: 16em;
  }
  section h1 {
    font-size: 2em;
  }
  section h2{
    margin-inline-start: 2em;
    margin-top: 0.7em;
    font-size: 1.5em;
    transform: rotate(0deg);
  }
  .lo, .about {
    font-size: 3em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #me{
    width: 30em;
    left: 26em;
    top: 2em;
    }
    #dark{
      display: none;
    }
    #bright{
      display: none;
    }
    #backsymbols{
      width: 37em;
      left: 16em;
    }
    section h1 {
      font-size: 3em;
    }
    section h2{
      margin-inline-start: 2em;
      margin-top: 0.7em;
      font-size: 2em;
      transform: rotate(0deg);
    }
    .lo, .about {
      font-size: 3em;
    }
    nav {
      margin-top: 13.5em;
    }
}
