body {
    background-image: url(../pictures/backforabout.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    align-content: center;
  }
  
@font-face {
    font-family: "Bayon";
    src: url("../fonts/Bayon-Regular.woff") format("woff"),
    url("../fonts/Bayon-Regular.woff2") format("woff2");
  } 

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.woff2") format("woff2");
}
  
nav {
    display: flex;
    flex-direction: row;
    margin-block-start: 0.5em;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    overflow: hidden;
  }

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 0.8em 1em;
    text-decoration: none;
    font-size: 1em;
    font-family: "Bayon", sans-serif;
  }

  
.active {
    color: #ff0000;
  }

.link:hover {
    color: #ff0000;
  }

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 35%;
}

section a {
    font-size: 1.4em;
    float: left;
    color: white;
    margin-block-end: 0em;
    font-family: "Bayon", sans-serif;
}

section p {
    color: white;
    font-family: "Lato", sans-serif;
    margin-block-start: 0em;
    margin-block-end: 2em;
  }
  
section a:hover {
    color: #ff0000;
}


  article {
    display: flex;
    flex-direction: column;
    width: 55%;
    font-size: 1.1em;
    align-items: flex-start;
    margin: auto;
  }

article h1 {
    font-size: 1.4em;
    float: left;
    color: white;
    margin-block-end: 0em;
    font-family: "Bayon", sans-serif;
}

  article p {
    color: white;
    font-family: "Lato", sans-serif;
    margin-block-start: 0em;
    margin-block-end: 2em;
    font-size: 1.1em;
  }

  article a {
    color: #ff0000;
    font-family: "Lato", sans-serif;
    margin-block-start: -1.5em;
    margin-block-end: 2em;
  }
 
  article img {
    width: 70%;
    margin-block-start: 0em;
    margin-block-end: 1em;
  }

  @media only screen and (max-width: 600px) {  
    section {
      width: 85%;
    }
    a {
      font-size: 1.2em;
    }
  }

@media only screen and (min-width: 601px) and (max-width: 768px) {  
  section {
    width: 85%;
  }
  a {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section {
    width: 85%;
  }
  a {
    font-size: 1.2em;
  }
}